@charset "UTF-8";

.showCollection{
/* 	width: 500px; */
/*     height: 200px; */
    background-color: rgba( 130, 130, 130, 0.4 );
    margin: 20px 10px;
    border-radius: 10px;
    padding: 5px;
}
#movies{
	padding: 10px;
	margin: 20px 0 0 0;
}
.delBtn{
	color: #b7b7b7;
    border: 0;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    margin: -10px 0 5px 110px;
    padding: 10px;
    display: none;
}
.modifyDelBtn{
	color: #b7b7b7;
    border: 0;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
/*     text-align:center; */
    cursor: pointer;
    
	margin: -35px 0 0 115px;
    padding: 10px;
    display: none;
}

.modifyBtn{
	color: #b7b7b7;
    border: 0;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    margin: -25px 2% 0 10px;
    float: right;
}
.modifyAddMov{
	color: #b7b7b7;
    border: 0;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    margin: -25px 100px 0 0;
    float: right;
}
.addBtn{
	color: yellow;
	font-weight: bold;
    border: 0;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
	margin: -10px 0 0 110px;
    padding: 10px;
}
.collectionBtn{
	color: #b7b7b7;
    border: 0;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
	margin: -37px 20px 10px 0;
    float: right;
}
.createBtn{
	color: #b7b7b7;
    border: 0;
    font-size: 17px;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    font-weight: bold;
    margin: 0 0 10px 0;
}
.addMovBtn{
    color: #b7b7b7;
    border: 0;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    margin: 10px 15px 0 0;
    float: right;
}
.cancleBtn{
	color: #b7b7b7;
    border: 0;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    margin: 10px 3% 0 10px;
    float: right;
}
.subject{
	position: relative;
    width: 94%;
    font-size: 16px;
    letter-spacing: -0.5px;
    border-color: rgba(154,151,161,0.2);
    height: 15px;
    padding: 10px;
    margin: 10px 0 5px 10px;
    border-radius: 5px; 
    clear: both;
}
.C_content{
	position: relative;
    width: 430px;
    font-size: 16px;
    letter-spacing: -0.5px;
    border-color: rgba(154,151,161,0.2);
    height: 70px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px; 
}

.c_title{
	padding: 10px 0 2px 15px;
}
.c_list{
/* 	border:1px solid gray; */
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	clear: both;
	background-color: #80808057;
}
.colName{
	margin-top: 10px;
}
.c_updateBtn{
	color: #b7b7b7;
    border: 0;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    margin: -35px 10px 0 0;
    float: right;
}
.collectionView{
	margin-bottom: 40px;
}
/* .collectionList{ */
/*     width: 260px; */
/*     height: 450px; */
/*     float: left; */
/* } */
