@charset "UTF-8";

.showCollection{
	width: 500px;
/*     height: 200px; */
    background-color: rgba( 130, 130, 130, 0.4 );
    margin: 20px 10px;
    border-radius: 10px;
}
.addCollection{
	width: 1100px;
	height: 450px;
	background-color: rgba( 130, 130, 130, 0.4 );
    margin: 20px 10px;
    border-radius: 10px;
}
#movies{
	padding: 20px;
}
.delBtn{
	color: #b7b7b7;
    border: 0;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
/*     text-align:center; */
    cursor: pointer;
    
	margin: -35px 0 0 115px;
    padding: 10px;
    display: none;
}
.modifyDelBtn{
	color: #b7b7b7;
    border: 0;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
/*     text-align:center; */
    cursor: pointer;
    
	margin: -35px 0 0 115px;
    padding: 10px;
    display: none;
}

.modifyBtn{
	color: #b7b7b7;
    border: 0;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
/*     text-align:center; */
    cursor: pointer;
    
	margin: 5px;
    padding: 10px;
    display: none;
}
.modifyAddMov{
	color: #b7b7b7;
    border: 0;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
/*     text-align:center; */
    cursor: pointer;
    
	margin: 5px;
    padding: 10px;
    display: none;
}

.addBtn{
	color: yellow;
	font-weight: bold;
    border: 0;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
/*     text-align:center; */
    cursor: pointer;
	margin: -10px 0 0 109px;
    padding: 10px;
}
.collectionBtn{
	color: #b7b7b7;
    border: 0;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
	margin: -37px 20px 10px 0;
    float: right;
}
.addMovBtn{
    color: #b7b7b7;
    border: 0;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    margin: 10px 15px 10px 370px;
}
.cancleBtn{
	color: #b7b7b7;
    border: 0;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}
.subject{
	position: relative;
    width: 450px;
    font-size: 16px;
    letter-spacing: -0.5px;
    border-color: rgba(154,151,161,0.2);
    height: 15px;
    padding: 10px;
    margin: 10px 0 0 10px;
    border-radius: 5px; 
}
.C_content{
	position: relative;
    width: 430px;
    font-size: 16px;
    letter-spacing: -0.5px;
    border-color: rgba(154,151,161,0.2);
    height: 70px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px; 
}

.c_title{
	padding: 10px 0 2px 15px;
}
.c_list{
	border:1px solid gray;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	clear: both;
}
/* .collectionList{ */
/*     width: 260px; */
/*     height: 450px; */
/*     float: left; */
/* } */
