@charset "UTF-8";


 * {margin: 0; padding: 0; }
 
.clear {
	clear: both;
} /* 영역구분 */

header{
/* 	border: solid 1px blue; */
	position: fixed;
	top: 0;
  	left: 0;
  	right: 0;
 	height: 50px;
  	padding: 10px;
  	color: white;
  	font-weight: bold;
	background-color: black;
}

body{
	background-color: black;
	color:white;
/* 	border: solid 1px red; */
  	padding: 30px;
  	margin-top: 120px;
}

a{
	text-decoration: none;
}

a:link, a:visited {color: #fff;}
a:hover, a:active {color: #bfbfbf;}

.mainBar{
    float: left;
/*     border: solid 1px red; */
  	padding: 10px;
}
.searchBar{
/* 	border: solid 1px yellow; */
	float: right;
	padding: 10px;
	margin: 3px;
}
.loginBar{
/* 	border: solid 1px blue; */
	float: right;
	padding: 10px;
	margin: 10px;
}
.dibsBar{
/*  border: solid 1px blue; */
    float: right;
    padding: 10px;
    margin: 10px;
}

h2{
	margin: 10px;
}
.poster{
	width:250px;
	height:350px;
	background-size:100%;
	margin:10px;
	background-repeat:no-repeat;
}

.stillCut{
	width:207px;
	height:138px;
	background-size:100%;
	margin:10px;
	background-repeat:no-repeat;
}
.boxOfficePoster{
	width:250px;
	height:350px;
	background-size:100%;
	margin-right:20px;
	margin-top:20px;
	margin-left:10px;
	background-repeat:no-repeat;
}
.content{
	border:1px solid black;
	margin:20px auto;
	padding:20px 0px;
	background-color: rgba(240,255,255,0.1);
	border-radius: 10px;
}
.slick-track{
	background-color: #000000;
	border-radius: 10px 10px;
}

.searchBtn{
    width: 30px;
    height: 25px;
    border-radius: 10px;
    background-color: red;
    border: none;
    color:#fff;
    cursor: pointer;
    margin: 4px 0 0 0;
    font-weight: bold;
    float: right;
}
.searchIn{
    position: relative;
    font-size: 14px;
    border-color: rgba(154,151,161,0.2);
    height: 10px;
    padding: 10px;
    border-radius: 10px;
    float: left;
    margin: 5px;
}
dt{
	float: left;
	margin-right: 10px;
}
.info{
	line-height: 130%;
	margin-top:10%;
	width: 450x;
	height: 100%;
/* 	float: none; */
	margin-bottom: 10%;
/* border:1px solid red; */
    sclear: both;
}
.title_top{
	font-size: 40px;
	margin: 30px 0 30px 10px;
	float: left;
}
.dibs{
    margin: 63px 0 0 50px;
    float: left;
    font-weight: bold;
    padding: 5px;
}
.dibsBtn{
    width: 65px;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    border: solid;
    color:#fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
/*     float: right; */
}
.dibsBtn:link, .dibsBtn:visited {color: #fff;}
.dibsBtn:hover, .dibsBtn:active {color: #bfbfbf;}


.dibsBtn.done{
    width: 65px;
    height: 40px;
    border-radius: 10px;
    background-color: red;
    border: solid white;
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
/*     float: right; */
}

.star{
    font-size: 20px;
    margin: 20px;
    clear: both;
}
.posters{
	float: left;
	sclear: both;
}
.wrap{
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10%;
}
.title{
	margin: 10px;
	text-align: center;
}

