@charset "UTF-8";


 * {margin: 0; padding: 0; }
 
.clear {
	clear: both;
} /* 영역구분 */

header{
/* 	border: solid 1px blue; */
	position: fixed;
	top: 0;
  	left: 0;
  	right: 0;
 	height: 65px;
  	padding: 10px;
  	color: white;
  	font-weight: bold;
	background-color: black;
	z-index: 999;
}

body{
	background-color: black;
	color:white;
   	padding: 30px;
  	margin-top: 120px;
}

a{
	text-decoration: none;
	font-weight: bold;
}

a:link, a:visited {color: #fff;}
a:hover, a:active {color: #bfbfbf;}

.mainBar{
    float: left;
/*     border: solid 1px red; */
  	padding: 10px;
}
.gradeBar{
    float: left;
    padding: 10px;
    margin: 15px 0 0 30px;
}
.searchBar{
/* 	border: solid 1px yellow; */
	float: right;
	padding: 10px;
	margin: 3px;
}
.loginBar{
	float: right;
	padding: 10px;
	margin: 10px;
}
.dibsBar{
    float: right;
    padding: 10px;
    margin: 10px;
}

h2{
	margin: 10px;
}
.poster{
	width:250px;
	height:350px;
	background-size:100%;
	margin:10px;
	background-repeat:no-repeat;
}

.stillCut{
	width:207px;
	height:138px;
	background-size:100%;
	margin:10px;
	background-repeat:no-repeat;
}
.boxOfficePoster{
	width:250px;
	height:350px;
	background-size:100%;
/* 	margin-right:20px; */
/* 	margin-top:20px; */
/* 	margin-left:10px; */
	background-repeat:no-repeat;
}
.content{
	border:1px solid black;
	margin:20px auto;
	padding:20px 0px;
/* 	background-color: rgba(240,255,255,0.1); */
	border-radius: 10px;
}
.slick-track{
	background-color: #000000;
	border-radius: 10px 10px;
}

.searchBtn{
    width: 30px;
    height: 25px;
    border-radius: 10px;
    background-color: red;
    border: none;
    color:#fff;
    cursor: pointer;
    margin: 4px 0 0 0;
    font-weight: bold;
    float: right;
}
.searchIn{
    position: relative;
    font-size: 14px;
    border-color: rgba(154,151,161,0.2);
    height: 10px;
    padding: 10px;
    border-radius: 10px;
    float: left;
    margin: 5px;
}
dt{
	float: left;
	margin-right: 10px;
}
.info{
	line-height: 140%;
	margin: 30px 10px 80px 10px;
/* 	width: 450x; */
/* 	height: 100%; */
/* 	float: none; */
/* 	margin-bottom: 10%; */
/* border:1px solid red; */
/*     clear: both; */
}
.title_top{
	font-size: 40px;
	margin: 30px 0 30px 10px;
	float: left;
}
.dibs{
    margin: 63px 0 0 20px;
    float: left;
    font-weight: bold;
    padding: 5px;
}
.dibsLogin{
    margin: 73px 0 0 60px;
    float: left;
    font-weight: bold;
    padding: 5px;
}
.dibsLogin>a:link, .dibsLogin>a:visited {color: red;}
.dibsLogin>a:hover, .dibsLogin>a:active {color: #fe6969;}

.dibsBtn{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    border: solid;
    color:#fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -1px;
}
.dibsBtn:link, .dibsBtn:visited {color: #fff;}
.dibsBtn:hover, .dibsBtn:active {color: #bfbfbf;}

.dibsBtn.done{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: red;
    border: solid white;
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -1px;
}
.dibsBtn.done:link, .dibsBtn.done:visited {color: #fff;}
.dibsBtn.done:hover, .dibsBtn.done:active {color: #575757;}

.starEvr{
    font-size: 20px;
    margin: 20px;
    clear: both;
}
.posters{
	float: left;
	clear: both;
	margin: 0 15px 10px 10px;
}
.stills{
/* 	float: left; */
/* 	clear: both; */
/* 	margin: 10px 20px 0px 30px; */
}
.wrap{
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10%;
}
.title{
	margin: 10px;
	text-align: center;
}

.directorP{
	margin-top: 30px;
	margin-bottom: 10px;
}

.posterDibs{
    width:250px;
    height:350px;
    background-size:100%;
    margin:10px;
    background-repeat:no-repeat;
    float: left;
}
.titleDibs{
    margin: 0 10px;
    float: left;
}
.dibsMovie{
	width: 260px;
	height: 410px;
	float: left;
	
}
#gradeMovie{
    width: 260px;
    height: 410px;
    float: left;
    
}
.gradePoster{
    width:250px;
    height:350px;
    background-size:100%;
    margin:10px;
    background-repeat:no-repeat;
    float: left;
}
.gradeTitle{
    margin: 0 10px;
    float: left;
}
.otherMovie{
    margin: 15px 0 20px 10px;
    font-size: 18px;
    padding: 5px;
}
.otherMovie>a:link, .otherMovie>a:visited {color: red;}
.otherMovie>a:hover, .otherMovie>a:active {color: #fe6969;}
textarea{
	resize: none; 
	width:100%; 
	height:100px;
	
}