@charset "UTF-8";

.clear {
	clear: both;
} /*영역구분*/

header{
	border: solid 1px blue;
	position: fixed;
	top: 0;
  	left: 0;
  	right: 0;
 	height: 50px;
  	padding: 10px;
  	color: white;
  	font-weight: bold;
/*   	display: flex; */
/*   	justify-content: space-between; */
/*   	align-items: center; */
	background-color: black;
/* 	margin-bottom: 30px; */
}

body{
	background-color: black;
	color:white;
	border: solid 1px red;
	position: fixed;
	top: 0;
  	left: 0;
  	right: 0;
 	height: 50px;
  	padding: 10px;
}



a{
	text-decoration: none;
}

a:link,a:visited {color: #fff;}
a:hover,a:active {color: #cacaca;}


.mainBar{
    float: left;
/*     clear:both; */
/*     border: solid 1px red; */
  	padding: 10px;
}
.searchBar{
/* 	border: solid 1px yellow; */
	float: right;
	padding: 10px;
}
.loginBar{
/* 	border: solid 1px blue; */
	float: right;
	padding: 10px;
}
h2{
	clear:both;
	margin-top: 100px;
	border: solid 1px green;
}