@charset "UTF-8";
 * {margin: 0; padding: 0; }
 
.clear {
	clear: both;
} /*영역구분*/

.loginAll{
    width: 480px;
    height: 450px;
    background-color: rgba( 130, 130, 130, 0.4 );
    margin: 0 auto;
    border-radius: 10px;
}
.loginLogin{
	display: flex;
    margin: 15px;
    padding-top: 80px;
    
}
.loginSpan{
	flex: 1 1 0%;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -1px;
    color: white;
}
.loginOther{
	color: #fff;
    font-size: 12px;
    letter-spacing: -0.4px;
    padding: 4px 0 0;
    opacity: 0.5;
/*     border: solid 1px green; */
}
.loginEmail{
	position: relative;
    width: 430px;
	font-size: 16px;
    letter-spacing: -0.5px;
    border-color: rgba(154,151,161,0.2);
    height: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    
}
.loginPass{
    position: relative;
    width: 430px;
    font-size: 16px;
    letter-spacing: -0.5px;
    border-color: rgba(154,151,161,0.2);
    height: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    
}
.check_font{
    margin: 0 0 0 10px;
}
.loginSubmit{
	width: 180px;
    padding: 10px;
    border-radius: 30px;
    margin: 40px 0 0 140px;
    background-color: red;
    border: none;
    color:#fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -1px;
    cursor: pointer;
}
.loginSubmit:hover {
	background-color: #fe3d3d;
}















