@charset "UTF-8";

.clear {
	clear: both;
} /*영역구분*/

main{
	background-color: black;
	color:white;
 	height: 650px;
  	padding: 10px;
  	margin-top: 10%;
/*   	background-image: url("/img/image.jpeg"); */
/*   	background-repeat: no-repeat; */
/* 	background-position: center 50%; */
/* 	background-size: 50% 50%; */
/* 	background-attachment: fixed; */
}
form{
	display: block;
    margin-top: 0em;
}
.loginMain{
	display: flex;
    justify-content: center;
/*     background-image: url("/img/1.jpg"); */
/*   	background-repeat: no-repeat; */
/* 	background-position: center 50%; */
/* 	background-size: cover; */
/* 	background-attachment: fixed; */
}
.loginAll{
	display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 70%;
    background-color: rgba( 130, 130, 130, 0.4 );
    margin-top: 30px;
    border-radius: 10px;
}
.loginLogin{
	display: flex;
    margin: 14px;
}
.loginSpan{
    border: solid 1px green;
	flex: 1 1 0%;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -1px;
    color: white;
}
.loginPass{
	color: #fff;
    font-size: 12px;
    font-weight: 400;
    -webkit-letter-spacing: -0.4px;
    -moz-letter-spacing: -0.4px;
    -ms-letter-spacing: -0.4px;
    letter-spacing: -0.4px;
    padding: 4px 0 0;
    opacity: 0.5;
}
.loginEmail{
	position: relative;
    width: 100%;
	font-size: 16px;
    -webkit-letter-spacing: -0.5px;
    -moz-letter-spacing: -0.5px;
    -ms-letter-spacing: -0.5px;
    letter-spacing: -0.5px;
    line-height: normal;
    border-color: rgba(154,151,161,0.2);
    height: 20px;
    padding: 10px;
/*     border-radius: 10px; */
}
.loginSubmit{
	width: 50%;
    padding: 10px;
    border-radius: 20px;
    margin: 16px 0 0;
}
.check_font{
	background-color: white;
}