@charset "UTF-8";

*{margin: 0; padding: 0;}

.starRev{
	float: left;
	margin: 70px 0 0 30px;
    padding: 10px;
}
.starR{
	background: url("../img/star1.png") no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;  
}
.starR.on{
    background: url("../img/star2.png") no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;  
}
#showGrade{
	float: left;
	margin: 76px 10px 0 0;
    font-weight: bold;
    padding: 5px;
} 
#star1:hover{
	background: url("../img/star2.png") no-repeat; 
	background-size: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;  
}
#star2:hover{
	
    background: url("../img/star2.png") no-repeat; 
    background-size: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;  
} 
#star3:hover{
    background: url("../img/star2.png") no-repeat; 
    background-size: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;  
} 
#star4:hover{
    background: url("../img/star2.png") no-repeat; 
    background-size: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;  
}
#star5:hover{
    background: url("../img/star2.png") no-repeat; 
    background-size: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;  
}
#cancelBtn{
	width: 40px;
	height: 31px;
    border-radius: 10px;
    margin: 77px 20px 0 0;
    background-color: yellow;
    border: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    float: left;
}
#cancelBtn:hover {
    background-color: #c8c800;
}
.gradeMovie{
    width: 260px;
    height: 450px;
    float: left;
}
.gradePoster{
    width:250px;
    height:350px;
    background-size:100%;
    margin:10px;
    background-repeat:round;
    float: left;
}
.gradeTitle{
    margin: 0 10px;
    float: left;
}
.starGra{
    margin: 0 10px;
}
.starG{
    background: url("../img/star1.png") no-repeat;
    background-size: 100%;
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;  
    
}
.starG.on{
    background: url("../img/star2.png") no-repeat;
    background-size: 100%;
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;  
}
#star01:hover{
    background: url("../img/star2.png") no-repeat; 
    background-size: 100%;
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;  
}
#star02:hover{
    
    background: url("../img/star2.png") no-repeat; 
    background-size: 100%;
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;  
} 
#star03:hover{
    background: url("../img/star2.png") no-repeat; 
    background-size: 100%;
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;  
} 
#star04:hover{
    background: url("../img/star2.png") no-repeat; 
    background-size: 100%;
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;  
}
#star05:hover{
    background: url("../img/star2.png") no-repeat; 
    background-size: 100%;
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;  
}

#comment{
	border: 1px solid #d7d7d7;
	margin: 0px 20px 25px 20px;
	clear: both;
	padding: 20px;
	border-radius: 5px;
	height: 30px;
}
#commentBtn{
	width: 100px;
	height: 30px;
    border-radius: 10px;
    margin: 0 20px 0 0;
    border: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    float: left;
}
#commentBtn:hover {
    background-color: #c0c0c0;
}

#reviewName{
	margin: 5px 20px 0 0;
	float: left;
	color: yellow;
	font-weight: bold;
}
#review{
    padding: 5px;
    width: 650px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#updateBtn{
	width: 40px;
    height: 30px;
    border-radius: 10px;
    margin: -30px 50px 0 0;
    border: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    float: right;
}
#updateBtn:hover {
    background-color: #c0c0c0;
}
#deleteBtn{
    width: 40px;
    height: 30px;
    border-radius: 10px;
    margin: -30px 0 0 0;
    border: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    float: right;
}
#deleteBtn:hover {
    background-color: #c0c0c0;
}
.moreCmt{
	float: right;
	margin: -30px 50px 15px 0;
	clear: both;
}
.reviewAll{
    width: 750px;
    margin: 0 auto 10px auto;
}
.reviewList{
   background-color: #dfdfdf46; 
   margin: 20px;
   border-radius: 10px;
   clear: both; 
/*    margin: 20px 30px; */
}
hr{
    margin: 10px;
    clear: both;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #808080b0;
}
.reviewContent{
	margin: 10px 15px;
	padding: 5px;
	height: 80px;
	line-height: 170%;
	overflow: auto;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    white-space: break-spaces;
}
.reviewContent::-webkit-scrollbar { /* 스크롤 전체 */
    width: 10px;
}
.reviewContent::-webkit-scrollbar-thumb { /* 스크롤 막대 */
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.reviewContent::-webkit-scrollbar-track { /* 스크롤 여부 */
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.reviewGo{
    margin: 10px 15px;
    padding: 5px;
    height: 80px;
}
.reA{
	font-weight: normal;
	font-size: 13px;
}
.reList{
	margin: 40px 15px;
    padding: 5px;
}
.reviewName{
	margin: 10px 20px;
	padding: 5px 0;
	float: left;
	font-weight: bold;
}
.reviewGrade{
	margin: 10px 15px 10px 0;
    padding: 5px 0;
    float: right;
}
.reviewStar{
	width: 20px;
	height: 20px;
	margin: -4px 1px;
}
.likeImg{
    background-image: url("../img/like.png"); 
    background-size: 100%;
    height: 20px;
    width: 20px;
    margin: -30px 9px 0 0;
    float: left;
}
.reviewLc{
    margin: -31px 0 0 30px;
    float: left;
}
.likeBtn{
	color: #b7b7b7;
    border: 0;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
    float: right;
    cursor: pointer;
	margin: -35px 75px 0 0;
    padding: 5px;
}
.replyBtn{
	color: #b7b7b7;
    border: 0;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
    float: right;
    cursor: pointer;
    
	margin: -35px 0 0 0;
    padding: 5px;
/*     color:#fff; */
	
}
.back{
	margin: 0 0 0 660px;
}
.reviewLn{
	margin: 0px 0 10px 12px;
    padding: 5px 0;
    float: left;
    font-weight: bold;
}
.reviewLg{
    margin: 0px 12px 10px 0;
    padding: 5px 0;
    float: right;
}
.reviewLco{
	margin: 10px;
    line-height: 170%;
    height: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    -webkit-line-clamp: 5;
    white-space: break-spaces;
}
.reviewTitle{
	margin: 10px 0 10px 15px;
	padding: 5px 0;
	float: left;
	font-weight: bold;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 170px;
}
.reviewPoster{
	width:250px;
    height:350px;
    background-size:100%;
    margin:10px 10px 0 10px;
    background-repeat:round;
    float: left;
}
.noComment{
	margin: 60px 20px;
	color: red;
}
