@charset "UTF-8";

*{margin: 0; padding: 0;}

.starRev{
	float: left;
	margin: 70px 0 0 30px;
    padding: 10px;
}
.starR{
	background: url("../img/star1.png") no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;  
    
}

.starR.on{
    background: url("../img/star2.png") no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;  
}
#showGrade{
	float: left;
	margin: 76px 10px 0 0;
    font-weight: bold;
    padding: 5px;
} 
#star1:hover{
	background: url("../img/star2.png") no-repeat; 
	background-size: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;  
}
#star2:hover{
	
    background: url("../img/star2.png") no-repeat; 
    background-size: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;  
} 
#star3:hover{
    background: url("../img/star2.png") no-repeat; 
    background-size: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;  
} 
#star4:hover{
    background: url("../img/star2.png") no-repeat; 
    background-size: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;  
}
#star5:hover{
    background: url("../img/star2.png") no-repeat; 
    background-size: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;  
}

#cancelBtn{
	width: 40px;
	height: 31px;
    border-radius: 10px;
    margin: 77px 20px 0 0;
    background-color: yellow;
    border: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    float: left;
}
#cancelBtn:hover {
    background-color: #c8c800;
}
#gradeMovie{
    width: 260px;
    height: 450px;
    float: left;
}
.gradePoster{
    width:250px;
    height:350px;
    background-size:100%;
    margin:10px;
    background-repeat:no-repeat;
    float: left;
}
.gradeTitle{
    margin: 0 10px;
    float: left;
}
.starGra{
/*     float: left; */
    margin: 0 10px;
/*     padding: 10px; */
}
.starG{
    background: url("../img/star1.png") no-repeat;
    background-size: 100%;
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;  
    
}

.starG.on{
    background: url("../img/star2.png") no-repeat;
    background-size: 100%;
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;  
}
#star01:hover{
    background: url("../img/star2.png") no-repeat; 
    background-size: 100%;
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;  
}
#star02:hover{
    
    background: url("../img/star2.png") no-repeat; 
    background-size: 100%;
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;  
} 
#star03:hover{
    background: url("../img/star2.png") no-repeat; 
    background-size: 100%;
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;  
} 
#star04:hover{
    background: url("../img/star2.png") no-repeat; 
    background-size: 100%;
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;  
}
#star05:hover{
    background: url("../img/star2.png") no-repeat; 
    background-size: 100%;
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;  
}

#comment{
	border: 1px solid #d7d7d7;
	margin: 0px 20px 25px 20px;
	clear: both;
	padding: 20px;
	border-radius: 5px;
	height: 30px;
}
#commentBtn{
	width: 100px;
	height: 30px;
    border-radius: 10px;
    margin: 0 20px 0 0;
/*     background-color: yellow; */
    border: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    float: left;
}
#commentBtn:hover {
    background-color: #c0c0c0;
}









